header {
  background-color: #f2f2f2; 
  padding: 10px; 
  text-align: center;
}
.header-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.header-buttons {
  display: flex; 
}
.header-buttons a {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 10px; 
  border-radius: 5px; 
}
.header-buttons a:first-child {
  margin-left: 0; 
}
img{
  width:100px;
  height:75px;
  /* margin-bottom: 15px;
  margin-top: 15px;; */
}