<!-- 
<div class="container">

    <div class="card">
    <h1>Electronics</h1>
    <div class ="btn">
    <button  routerlink="/electronics">Gotoelectronics</button>
    </div>
    </div>
    
    <div class="card">
    <h1>Jewellery</h1>
    <div class ="btn">
    <button>Gotojewellery</button>
</div>
    </div>
    
    <div class="card">
    <h1>Men's Clothing</h1>
    <div class="btn">
    <button>Gotomen'sclothing</button>
    </div>
    </div>
    
    <div class="card">
    <h1>Women's clothing</h1>
    <div class ="btn">
    <button>Gotowomen's clothing</button>
</div>
    </div> -->

