<nav>
  <ul>
    <li> @for (display of sidenavarray; track display; let  i = $index) {
      <a routerLink="{{display.Url}}" [class.active]="selectedIndex === i"(click)="setIndex(i)">{{display.category}}</a>
      }
    </li>
    <!-- <button routerLink="./">Back</button> -->
  </ul>
</nav>




<!-- <nav>
      <ul>
        <li><a routerLink="/article">Home</a></li>
        <li><a routerLink="/electronics">Electronics</a></li>
        <li><a routerLink="/jewellery">Jewellery</a></li>
        <li><a routerLink="/men">Men' clothing</a></li>
        <li><a routerLink="/women">Women's clothing</a></li>
      </ul>
    </nav>  
    -->